@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---- Optional: Vite default styles 

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove body centering 
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Optional defaults */
a {
  font-weight: 500;
  text-decoration: inherit;
}
