body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;   /* full screen height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f0f4ff;
  text-align: center;
}


button {
  padding: 10px 20px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:focus {
  outline: 3px solid #22c55e;
}

section {
  margin-top: 15px;
  padding: 15px;
  background: white;
  border-radius: 6px;
}
