.form{
    height: fit-content;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color:rgb(227, 52, 87);
    padding: 40px;
    border:none ;
    border-radius: 10px;
}

.form input{
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    font-size:18px;
    padding: 2px;
}

.form button{
    width: 200px;
    margin-left: 80px;
    background-color:rgb(162, 241, 162);
}
