*{
  margin: 0;
  padding: 0;
  background-color: blanchedalmond;
}
.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 200px;
  background-color: maroon;
  height: 500px;
  width: 500px;
  margin-left: 560px;
  gap: 50px;
}
h1{
  color: cadetblue;
  height: 30px;
  width: 260px;
  text-align: center;
}
form{
  display: flex;
  flex-direction: column;
  color: black;
  gap: 10px;
  height: 250px;
  width: 300px;
}
button{
  width: 100px;
  height: 30px;
  margin: 20px;
  margin-left: 90px;
}