*{
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: aqua;
  gap: 900px;
}
.lot {
  display: flex;
  gap: 30px;
  font-size: 20px;
  font-weight: bold;

}
.ana{
  margin: 20px;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}