* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  background: rgb(247, 90, 247);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  width: 360px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.form-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-box input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.form-box input:focus {
  outline: none;
  border-color: #4facfe;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.form-box button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #4facfe;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.form-box button:hover {
  background: #3b8edb;
}