.hook{
  height: 400px;
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  background-color:cadetblue;
  margin-left: 600px;
  margin-top: 200px;
  padding: 10px;
}

.hook h1{
    margin-top: 60px;
    margin-left: 40px;
}

.hooks{
    margin-left: 50px;
}

.hooks input{
    border-radius: 5px;
    border: 1px solid black;
    height: 30px;
    width: 200px;
    margin-top: 20px;
}

.hooks button{
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 70px;
    height: 20px;
    width: 70px;
}