*{
  margin: 0;
  padding: 0;
}

.content{
   height: 200px;
   width: 300px;
   background-color: navajowhite;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   gap: 5px;
   margin-left: 620px;
   margin-top: 300px;
   border: 3px solid black;
}
.para{
  font-size: 20px;
  font-weight: bold;
}
#btn{
  width: 100px;
  height: 30px;
  background-color: navy;
  color: white;
  border: 3px solid white;
}
